.main-wrapper {
  height: 100vh;
  display: flex;
 
  > .main-content {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;

    > .content-solt {
      flex: 1;
      padding: 1em;
    }
  }
}